<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Result Analysis</title>

    <style>
        body {
            margin: 0px;
            padding: 50px;
            font-family: "Open Sans", arial;
            background: #0066C0;
            color: #fff;
            font-weight: 300;
        }

        ul li {
            margin: 10px;
            line-height: 1.2em;
            font-size: 1.5em;
        }

        @import "https://fonts.googleapis.com/css?family=Montserrat:300,400,700";

        .rwd-table {
            margin: 1em 0;
            min-width: 300px;
        }

        .rwd-table tr {
            border-top: 1px solid #ddd;
            border-bottom: 1px solid #ddd;
        }

        .rwd-table th {
            display: none;
        }

        .rwd-table td {
            display: block;
        }

        .rwd-table td:first-child {
            padding-top: .5em;
        }

        .rwd-table td:last-child {
            padding-bottom: .5em;
        }

        .rwd-table td:before {
            content: attr(data-th) ": ";
            font-weight: bold;
            width: 6.5em;
            display: inline-block;
        }

        @media (min-width: 480px) {
            .rwd-table td:before {
                display: none;
            }
        }

        .rwd-table th,
        .rwd-table td {
            text-align: left;
        }

        @media (min-width: 480px) {

            .rwd-table th,
            .rwd-table td {
                display: table-cell;
                padding: .25em .5em;
            }

            .rwd-table th:first-child,
            .rwd-table td:first-child {
                padding-left: 0;
            }

            .rwd-table th:last-child,
            .rwd-table td:last-child {
                padding-right: 0;
            }
        }



        h1 {
            font-weight: normal;
            letter-spacing: -1px;
            color: #ffffff;
        }

        .rwd-table {
            background: #34495E;
            color: #fff;
            border-radius: .4em;
            overflow: hidden;
        }

        .rwd-table tr {
            border-color: #46637f;
        }

        .rwd-table th,
        .rwd-table td {
            margin: .5em 1em;
        }

        @media (min-width: 480px) {

            .rwd-table th,
            .rwd-table td {
                padding: 1em !important;
            }
        }

        .rwd-table th,
        .rwd-table td:before {
            color: #dd5;
        }

        table tr td a {
            color: rgb(226, 225, 225);
        }
    </style>
</head>

<body>
    <h1>Result Analysis</h1>
    <h2>You have <%= sqlLines %> SQL attacks and <%= xssLines %> XSS attacks</h2>
    <table class="rwd-table">
        <tr>
            <th>Line No.</th>
            <th>Code</th>
            <th>SQL Attack</th>
            <th>XSS Attack</th>
        </tr>
        <%  errorLines.forEach( (errorLine, i) => { %>
        <tr>
            <th><%= i+1 %></th>
            <td><%= errorLine[0] %></td>
            <td><%= errorLine[1] %></td>
            <td><%= errorLine[2] %></td>
        </tr>
        <%  });  %>
    </table>
    <h2>
        You have
        <% if (errorLines.length === 0) { %>
        0
        <% } else { %>
        <%= ( (sqlLines + xssLines) / errorLines.length * 100 ).toFixed(2) %>
        <% } %>
        % Severity in the Code. Please proceed to the next page to know about Remediation Control.
    </h2>

    <form action="/remediation-control" method="get">
        <button type="submit" style="
        position: absolute;
        bottom: 10px;
        right: 10px;
        width: 100px;
        height: 28px;
        ">Next</button>
    </form>

    <form action="/logout" method="get">
        <button style="
	position: absolute;
	top: 10px;
	right: 10px;
	width: 100px;
	height: 28px;
">Log out</button>
    </form>
</body>

</html>